flows.json
[{"id":"e13e157d51c576a2","type":"tcp request","z":"ab394c9f9165961f","name":"","server":"192.168.0.100","port":"1024","out":"char","ret":"buffer","splitc":"\\n","newline":"","trim":false,"tls":"","x":330,"y":160,"wires":[["494fa786b1aa591a","f98c8bd67ef285ea"]]},{"id":"494fa786b1aa591a","type":"debug","z":"ab394c9f9165961f","name":"debug 88","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":240,"wires":[]},{"id":"83d50ef1b6ad4b98","type":"inject","z":"ab394c9f9165961f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6081","payloadType":"str","x":90,"y":260,"wires":[["f3963fc35f056830"]]},{"id":"f3963fc35f056830","type":"function","z":"ab394c9f9165961f","name":"buffer + \\r","func":"msg.payload = Buffer.from(msg.payload + \"\\r\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":240,"wires":[["e13e157d51c576a2"]]},{"id":"f98c8bd67ef285ea","type":"function","z":"ab394c9f9165961f","name":"buffer to string","func":"var b = Buffer.from(msg.payload);\nmsg.payload = b.toString();\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":120,"wires":[["b1a915c04a291ef7"]]},{"id":"b1a915c04a291ef7","type":"debug","z":"ab394c9f9165961f","name":"debug 94","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":80,"wires":[]},{"id":"440aa8f49d860d63","type":"inject","z":"ab394c9f9165961f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6082","payloadType":"str","x":90,"y":320,"wires":[["f3963fc35f056830"]]}]